<div class="row mt-5">
  <div class="col-lg-9 col-sm-12 mx-auto">
    <h4 class="text-center">Daftar Contact</h4>

    <button
      type="button"
      class="btn btn-primary btn-sm mt-5"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <i class="bi bi-plus-lg"></i>
      Tambah Contact
    </button>

    <button type="button" class="btn btn-success btn-sm mt-5">
      <i class="bi bi-download"></i>
      Download
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mx-auto" id="staticBackdropLabel">
              Tambah Contact
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/Contact">
              <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <input
                  type="text"
                  class="form-control"
                  id="nama"
                  class="form-label"
                  name="nama"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  class="form-label"
                  name="email"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="mb-3">
                <label for="num" class="form-label">Nomor</label>
                <input
                  type="text"
                  class="form-control"
                  id="num"
                  class="form-label"
                  name="num"
                  required
                  autocomplete="off"
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Tambah Contact
              </button>
            </form>
          </div>
          <div class="modal-footer text-center">
            <p><em>~ Adhitya Nasuwa</em></p>
          </div>
        </div>
      </div>
    </div>

    <table class="table shadow mt-1 table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama</th>
          <th scope="col">Nomor</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% if (cont.length === 0) { %>

        <tr>
          <th scope="row" class="text-center" colspan="4">Contact Empty</th>
        </tr>

        <% } else { %> <% let no = 1; %> <% cont.forEach(tact => { %>
        <tr>
          <th scope="row"><%= no++ %></th>
          <td><%= tact.nama %></td>
          <td><%= tact.num %></td>
          <td>
            <a
              href="/Contact/<%= tact.num %> "
              class="btn btn-danger badge rounded-pill"
              ><!-- <i class="bi bi-info-circle"></i>-->
              detail</a
            >
          </td>
        </tr>
        <% }) %> <% } %>
      </tbody>
    </table>

    <% if (typeof err != 'undefined') { %> <% err.forEach(er=> { %>
    <div
      class="alert alert-danger shadow alert-dismissible fade show"
      role="alert"
    >
      <strong><%= er.msg %> </strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% }) %> <% } %> <% if (del) { %> <%- del %> <% } %> <% if (add) { %> <%-
    add %> <% } %>
  </div>
</div>
